<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="weather-app container">
    <div class="row">
        <div class="col-md-12">
            <h1>My Weather Station</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <app-city></app-city>
        </div>
    </div>
    <div class="row">   
        <div class="col-md-12">
            <app-degrees (scale)="getScale()"></app-degrees>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-widget></app-widget>
        </div>
    </div>
</div>